body{
    background-color: brown;
    color: #FFF;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.line{
    text-decoration: line-through;
}

button{

    margin: 0px,10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF;
    border-color: #FFF;
}