#reinbowbutton{
    display: inline-block;
    margin: 0px,10px;
    padding: 10px;
    border-radius: 10px;

    background: linear-gradient(to right,#c70000,#d28300,#dfd000,#00873c,#005aa0,#181878,#800073);
}

#reinbowbutton:hover{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
}

div>a{
    color: #FFF;
    text-decoration: none;
}

a>span{
    text-decoration: underline;
}